[Unit]
Description=OAI UDM Daemon
After=network-online.target

[Service]
Type=simple

ExecStart=/usr/local/bin/udm -c /etc/oai/config.yaml -o
Restart=always
RestartSec=2
RestartPreventExitStatus=1

[Install]
WantedBy=multi-user.target